<form style="width: 100%; height: 100%;" action="/submit" method="post">
  <div class="horizontal-container">
    <h3>
      Total Score:
      <span id="score">
        <%= locals.totalScore ? totalScore : "0" %>
      </span>
    </h3>
  </div>
  <h1 id="countryName">
    <%=question.country %>
  </h1>
  <div class="answer-container">
    <input type="text" name="answer" id="userInput" placeholder="Enter the capital" autofocus autocomplete="off">
  </div>
  <button type="submit">SUBMIT<% if(isCorrect){ %>
      <span class="checkmark">✔</span>
      <% } else if (isCorrect===false) { %>
        <span class="cross" id="error">✖</span>
        <% } %>
  </button>
</form>